@import url("https://fonts.googleapis.com/css2?family=Ferry&display=swap");
@font-face {
  font-family: "Ferry";
  src: url("./fonts/ferry_black.otf") format("opentype");
}
@import url("https://rsms.me/inter/inter.css");

.conteiner {
  width: 90%;
  margin: auto;
  max-width: 1440px;
}
.findTxtImg {
  display: flex;
  justify-content: space-between;
}
.resultSoon {
  font-family: "Ferry";
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 1.6px;
  width: 510px;
  padding-bottom: 35px;
}
.wait {
  font-family: "Inter";
  font-size: 20px;
  letter-spacing: 0.4px;
  width: 445px;
}
.summary {
  font-family: "Ferry";
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 0.6px;
  padding-bottom: 10px;
}
.found {
  color: #949494;
  font-family: "Inter";
  font-size: 18px;
  letter-spacing: 0.36px;
  padding-bottom: 20px;
}
.findImg {
  padding-left: 30%;
  width: 100%;
}
.tableForResults {
  display: flex;
  width: 90%;
  height: auto;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid #029491;
  overflow: hidden; /* Скрываем скроллбар для всей таблицы */
}

.rowForResults {
  display: flex;
  margin-bottom: 15px;
  overflow-x: auto;
}
.btnsAndResults {
  display: flex;
  margin-bottom: 40px;
}
/* .rowForResults .cellOfResult:last-child {
  border-right: none;
} */
.next-button {
  background: none;
  border: none;
  padding: 0;
  font-size: inherit;
  cursor: pointer;
}
.resultsHeader {
  padding: 1% 2%;
  background-color: #029491;
  color: white;
  font-family: "Inter";
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.cellOfResult {
  width: 130px;
  border-right: 2px solid #949494;
  padding: 8px;
}

.textOfResult {
  font-family: "Inter";
  font-size: 18px;
  letter-spacing: 0.72px;
  text-align: center;
  padding: 5%;
}
