* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 90%;
}
.header_navBtns {
  display: flex;
}
.main {
  font-family: "Inter";
  font-size: 14px;
}
.price {
  padding-left: 49px;
  font-family: "Inter";
  font-size: 14px;
}
.faq {
  padding-left: 49px;
  font-family: "Inter";
  font-size: 14px;
}
.header_loginAndRegistBtns {
  align-items: center;
  display: flex;
}
.login {
  border: none;
  background-color: white;
  opacity: 0.4;
  font-family: "Inter";
  font-size: 14px;
  cursor: pointer;
  padding-right: 18px;
}
.btn-enter {
  margin-left: 10px;
  padding: 4px 11px;
  border: none;
  border-radius: 5px;
  background-color: #7ce3e1;
  cursor: pointer;
}
.footer {
  background-color: #029491;
  margin-top: 118px;
}
.footer-conteiner {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-content {
  text-align: right;
}
.adressFooter {
  color: white;
  font-family: "Inter";
  font-size: 14px;
  letter-spacing: -0.14px;
}
.copyrightFooter {
  color: white;
  font-family: "Inter";
  font-size: 12px;
  padding-top: 20px;
}
